<script type="text/ng-template" id="sanji-serial-info.tpl.html">
  <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.tabIndex">
    <md-tab ng-repeat="tab in $ctrl.tabs track by $index"
    label="{{::tab.content.devDisplayName}}">
      <md-list>
        <md-list-item>
          <p class="md-body-2" translate="SERIAL_FORM_LABEL_INTERFACE"></p>
          <span ng-bind="tab.content.dev"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="SERIAL_FORM_LABEL_MODE"></p>
          <span ng-bind="tab.content.mode | uppercase"></span>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>
</script>