<script type="text/ng-template" id="sanji-serial-form.tpl.html">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="tab in $ctrl.tabs track by $index" label="{{::tab.content.devDisplayName}}">
      <form ng-submit="$ctrl.save(tab)" role="form" layout="column" layout-padding novalidate>
        <formly-form model="tab.content"
        options="tab.formOptions" fields="tab.fields" form="tab.form">
          <div layout layout-align="end center">
            <md-button type="submit" class="md-raised md-primary"
            aria-label="sumit"
            ng-disabled="tab.form.$invalid">
              <sapn translate="SERIAL_FORM_SAVE"></span>
            </md-button>
          </div>
        </formly-form>
      </form>
    </md-tab>
  </md-tabs>
</script>